{% set base = '/php/chef_hamid/assets/' %}


{% block stylesheet %}
    <link href="{{ base }}css/dashboard.css" rel="stylesheet">
{% endblock %} 

 {% block content %}
 <header>

    <nav>
        <ul> 
            <li><a href="{{ lougout }}" class="btn-deconnixion">Deconnexion</a> </li>              
        </ul>
    </nav>
</header>



  <h1>bienvenue dans votre page connexion</h1>

                    
 

 {% endblock %}





