{% set acces = '/php/chef_hamid/' %}

{% block content %} 
 
<footer>
    <h4> A propos de nous</h4>
    <p>Notre mission chez Chef Hamid est de rendre la cuisine quotidienne amusante,
     parce que nous croyons que la cuisine peut avoir un impact réel pour la planète et pour nous tous.
      Nous offrons aux cuisiniers du monde entier les moyens de s'entraider en partageant des recettes et des astuces de cuisine.</p>
</footer>

{% endblock %}