
{% set acces = '/php/chef_hamid/' %}

{% block content %} 
   
        <header>
        
                <nav>
                    <div class="logo-name"> 
                    <img src="{{ acces }}assets/img/chef-hat.png" alt="images" class="logo">
                    <h3>Chef hamid</h3> 
                </div>
                        <div class="search-bar">
                            <input type="text" placeholder="Recherche">
                            <button type="submit">Rechercher</button>
                        </div>

                    <ul>
                        <li><a href="{{ acces }}">Accueil</a></li>
                        <li><a href="#">Catégories</a>
                            <a href="#">Entrée</a>
                            <a href="#">Plas</a>

                        </li>
                        <li><a href="#">Favoris</a></li> 
                        <li><a href="{{ linkConnexion }}" class="btn">Connexion</a> </li>
                      
                    
                    </ul>
                </nav>
    
        </header>
       
  
        
{% endblock %}




 