{% extends "template.html.twig" %}
{% block title %} {% endblock %}
{% block stylesheet %}<link href="{{ style }}css/style.css" rel="stylesheet">{% endblock %}


{% block content %}

<h1>Nouvelle recettes a tester</h1>

<ul>
{% for recipe in recipes %}
<li><a href="{{ link }}{{ recipe.recipes_id }}">{{ recipe.title }}</a></li>
{% endfor %}
</ul>



 {% endblock %}