{% extends "template.html.twig" %}
{% block content  %}
     <form  method="POST" action="">
        <h1>Bienvenu dans la page de connexion:</h1>

        <input type="text" name="pseudo" placeholder="Votre Pseudo"><br><br>
        <input type="text" name="password" placeholder="Votre Mot de passe"><br><br>
        <input type="checkbox" name="check" id="check">
        <label for="check">se souvenir de moi</label><br><br>
        <td align="centre"><br><input type="submit" value="Se Connecter">
     </form>
    


{% endblock %}