{% extends "template.html.twig" %}
 {% block header %}
   {% include 'header.html.twig' %}
{% endblock %}

{% block content  %}
{% if message %}
   <p> message </p>
   {% endif %}
     <form  action="{{ link }}" method="POST" >
        <h3>SE CONNECTER</h3>

        <input type="text" name="pseudo" placeholder="Votre Pseudo" required><br><br>
        <input type="text" name="password" placeholder="Votre Mot de passe" required><br><br>
        <input type="checkbox" name="check" id="check">
        <label for="check">se souvenir de moi</label><br><br>
        <a href="{{ link3 }}"><span>S'inscrire</span></a> <br><br>
        <a><span>Mot de passe oublié?</span></a> <br><br>
        <td align="centre"><br><input type="submit" value="Se Connecter">
     </form> 


    


{% endblock %}